.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
    background-image: url(../img/about/about-bg-desk.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: auto;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    gap: 128px;
  }
}

.about-text-wrapper {
  @include media(desktop) {
    max-width: 544px;
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-subtitle {
  @include media(desktop) {
  }
}

.about-text {
  font-family: 'Onest', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
    font-size: 18px;
  }
}

.about-top-text {
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.about-list {
  list-style-type: disc;
  padding-left: 25px;
  color: #fbc95a;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.about-list-item {
  @include media(desktop) {
  }
}

.about-item-text {
  font-family: 'Onest', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fbc95a;

  @include media(desktop) {
    font-size: 18px;
  }
}

.about-bottom-text {
  @include media(desktop) {
  }
}

.about-img {
  @include media(desktop) {
    min-width: 370px;
  }
}
