.advantages-section {
  @include media(desktop) {
  }
}

.advantages-bg-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
    background-image: url(../img/advantages/advantages-bg-desk.png);
    background-repeat: no-repeat;
    background-position: top 14px right;
    background-size: auto;
  }
}

.advantages-container {
  @include media(desktop) {
  }
}

.advantages-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 128px;
  }
}

.advantages-text-wrapper {
  @include media(desktop) {
    max-width: 544px;
  }
}

.advantages-title {
  @include media(desktop) {
  }
}

.advantages-subtitle {
  @include media(desktop) {
  }
}

.advantages-text {
  font-family: 'Onest', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
    font-size: 18px;
  }
}

.advantages-top-text {
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.advantages-list {
  list-style-type: disc;
  padding-left: 25px;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.advantages-list-item {
  @include media(desktop) {
  }
}

.advantages-item-text {
  font-family: 'Onest', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
    font-size: 18px;
  }
}

.advantages-bottom-text {
  @include media(desktop) {
  }
}

.advantages-img {
  @include media(desktop) {
    min-width: 370px;
  }
}
