.disclaimer-hero-section {
  @include media(desktop) {
  }
}

.disclaimer-hero-bg-wrapper {
  padding-top: 112px;
  padding-bottom: 42px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 142px;
    padding-bottom: 70px;
    max-width: 1440px;
  }
}

.disclaimer-hero-container {
  padding: 0 10px;

  @include media(desktop) {
    padding: 0 75px;
  }
}

.disclaimer-hero-hero-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 37px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}

.disclaimer-hero-hero-text-wrapper {
  @include media(desktop) {
    max-width: 602px;
  }
}

.disclaimer-hero-title {
  @include media(desktop) {
  }
}

.disclaimer-hero-subtitle {
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.disclaimer-hero-hero-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #676565;

  @include media(desktop) {
  }
}

.disclaimer-hero-bottom-wrapper {
  @include media(desktop) {
  }
}

.disclaimer-hero-bottom-text-wrapper {
  background: #fff;
  border: 1px solid #b4caff;
  border-radius: 30px;
  padding: 28px 39px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media(desktop) {
    padding: 18px 39px;
    max-width: 483px;
  }
}

.disclaimer-hero-bottom-wrapper-title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #000;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.disclaimer-hero-bottom-wrapper-text {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #000;

  @include media(desktop) {
  }
}

.disclaimer-hero-list {
  display: flex;
  flex-direction: column;
  gap: 37px;

  @include media(desktop) {
  }
}

.disclaimer-hero-list-item {
  background: #fff;
  border: 1px solid #b4caff;
  border-radius: 20px;
  padding: 29px 17px;

  @include media(desktop) {
    padding: 27px 39px;
  }
}

.disclaimer-hero-item-title {
  padding-left: 22px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #1e1e1e;
  margin-bottom: 24px;

  @include media(desktop) {
    padding-left: 0;
  }
}

.disclaimer-hero-item-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #676565;

  @include media(desktop) {
  }
}

.disclaimer-hero-email-link {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 32px;
  color: #676565;
  word-break: break-all;

  @include media(desktop) {
  }
}
