.features-section {
  @include media(desktop) {
  }
}

.features-bg-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
    background-image: url(../img/features/features-bg-desk.png);
    background-repeat: no-repeat;
    background-position: bottom right 62px;
    background-size: auto;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 128px;
  }
}

.features-text-wrapper {
  @include media(desktop) {
    max-width: 544px;
  }
}

.features-title {
  @include media(desktop) {
  }
}

.features-subtitle {
  @include media(desktop) {
  }
}

.features-text {
  font-family: 'Onest', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
    font-size: 18px;
  }
}

.features-top-text {
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.features-list {
  list-style-type: disc;
  padding-left: 25px;
  color: #fbc95a;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.features-list-item {
  @include media(desktop) {
  }
}

.features-item-text {
  font-family: 'Onest', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fbc95a;

  @include media(desktop) {
    font-size: 18px;
  }
}

.features-bottom-text {
  @include media(desktop) {
  }
}

.features-img {
  @include media(desktop) {
    min-width: 370px;
  }
}
