.gameplay-section {
  @include media(desktop) {
  }
}

.gameplay-bg-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
    background-image: url(../img/gameplay/gameplay-bg-desk.png);
    background-repeat: no-repeat;
    background-position: bottom left 238px;
    background-size: auto;
  }
}

.gameplay-container {
  @include media(desktop) {
  }
}

.gameplay-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    gap: 128px;
  }
}

.gameplay-text-wrapper {
  @include media(desktop) {
    max-width: 544px;
  }
}

.gameplay-title {
  @include media(desktop) {
  }
}

.gameplay-subtitle {
  @include media(desktop) {
  }
}

.gameplay-text {
  font-family: 'Onest', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
    font-size: 18px;
  }
}

.gameplay-text-span {
  color: #fbc95a;

  @include media(desktop) {
  }
}

.gameplay-img {
  @include media(desktop) {
    min-width: 370px;
  }
}
