.home-security-section {
  @include media(desktop) {
  }
}

.home-security-bg-wrapper {
  padding-top: 42px;
  padding-bottom: 42px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 128px;
    padding-bottom: 128px;
    max-width: 1440px;
  }
}

.home-security-container {
  padding: 0 10px;

  @include media(desktop) {
    padding: 0 75px;
  }
}

.home-security-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}

.home-security-text-wrapper {
  @include media(desktop) {
    max-width: 602px;
  }
}

.home-security-title {
  @include media(desktop) {
  }
}

.home-security-subtitle {
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.home-security-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #676565;
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.home-security-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 26px;

  @include media(desktop) {
  }
}

.home-security-methodology-btn {
  background: #e9a423;
  border-radius: 50px;
  padding: 17px 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: max-content;

  @include media(desktop) {
  }
}

.home-security-faq-btn {
  border: 1px solid #b4caff;
  border-radius: 50px;
  padding: 16px 41px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: max-content;

  @include media(desktop) {
  }
}

.home-security-img-wrapper {
  background: #d4e1ff;
  border-radius: 30px;
  padding-bottom: 41px;

  @include media(desktop) {
    padding-bottom: 28px;
  }
}

.home-security-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;

  @include media(desktop) {
  }
}

.home-security-img-title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.125;
  color: #000;
  margin-bottom: 24px;

  @include media(desktop) {
    max-width: 519px;
    margin-left: auto;
    margin-right: auto;
  }
}

.home-security-list {
  list-style-type: disc;
  padding-left: 30px;
  color: #000;
  margin-bottom: 35px;

  @include media(desktop) {
    max-width: 519px;
    margin-left: auto;
    margin-right: auto;
  }
}

.home-security-list-item {
  @include media(desktop) {
  }
}

.home-security-item-text {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.1;
  color: #000;

  @include media(desktop) {
  }
}

.home-security-img-text {
  background: #fff;
  border: 1px solid #676565;
  border-radius: 30px;
  padding: 20px 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #000;

  @include media(desktop) {
    padding: 33px 21px;
    max-width: 505px;
    margin-left: auto;
    margin-right: auto;
  }
}
