.policy-section {
  background: #fff;
  padding-top: 126px;
  padding-bottom: 80px;

  @include media(desktop) {
    padding-top: 137px;
    padding-bottom: 100px;
  }
}

.policy-main-title {
  font-family: 'Onest', sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.2;
  color: #6f26a2;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 48px;
    margin-bottom: 40px;
  }
}

.policy-title {
  font-family: 'Onest', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #6f26a2;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 28px;
  }
}

.policy-text {
  font-family: 'Onest', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6f26a2;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
    font-size: 18px;
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Onest', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6f26a2;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
    font-size: 18px;
  }
}

.policy-span {
  font-weight: 700;
}

.policy-link {
  font-weight: 700;
}
