.reviews-hero-section {
  @include media(desktop) {
  }
}

.reviews-hero-bg-wrapper {
  padding-top: 112px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 140px;
    padding-bottom: 82px;
    max-width: 1440px;
  }
}

.reviews-hero-container {
  padding: 0 10px;

  @include media(desktop) {
    padding: 0 75px;
  }
}

.reviews-hero-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}

.reviews-hero-text-wrapper {
  @include media(desktop) {
    max-width: 602px;
  }
}

.reviews-hero-title {
  @include media(desktop) {
  }
}

.reviews-hero-subtitle {
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.reviews-hero-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #676565;
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.reviews-hero-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 26px;

  @include media(desktop) {
  }
}

.reviews-hero-methodology-btn {
  background: #e9a423;
  border-radius: 50px;
  padding: 17px 31px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: max-content;

  @include media(desktop) {
  }
}

.reviews-hero-categories-btn {
  border: 1px solid #b4caff;
  border-radius: 50px;
  padding: 16px 32px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: max-content;

  @include media(desktop) {
  }
}

.reviews-hero-img-wrapper {
  background: #d4e1ff;
  border-radius: 30px;
  padding-bottom: 172px;

  @include media(desktop) {
    padding-bottom: 24px;
    max-width: 562px;
  }
}

.reviews-hero-img {
  border-radius: 30px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  @include media(desktop) {
  }
}

.reviews-hero-img-title {
  padding: 0 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.125;
  color: #000;
  margin-bottom: 24px;

  @include media(desktop) {
    padding: 0 21px;
  }
}

.reviews-hero-img-text {
  padding: 0 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.1;
  color: #000;

  @include media(desktop) {
    padding: 0 21px;
  }
}
