<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <h2 class="section-title about-title">
            INSTANT<br />
            ACTION LOOP
          </h2>
          <p class="about-text about-top-text">
            Seriously, you can go from starting a level to winning in like 10
            seconds<br />
            Okay look, I know this sounds weird but there's something really
            satisfying about it:
          </p>
          <ul class="about-list">
            <li class="about-list-item">
              <p class="about-item-text">Slide the screen to gather strength</p>
            </li>
            <li class="about-list-item">
              <p class="about-item-text">Grow your stickman army</p>
            </li>
            <li class="about-list-item">
              <p class="about-item-text">Collect painting fragments</p>
            </li>
            <li class="about-list-item">
              <p class="about-item-text">Face the match</p>
            </li>
            <li class="about-list-item">
              <p class="about-item-text">Clear the level</p>
            </li>
          </ul>
          <p class="about-text about-bottom-text">
            Every move matters.<br />
            Every swipe builds momentum.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="370"
            height="515" />
          <source
            srcset="./img/about/about-img-mob.png"
            width="343"
            height="477" />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="477"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
