<section class="section advantages-section" id="advantages">
  <div class="advantages-bg-wrapper">
    <div class="container advantages-container">
      <div class="advantages-content-wrapper">
        <div class="advantages-text-wrapper">
          <h2 class="section-title advantages-title">
            CONTROL<br />
            WITHOUT LIMITS
          </h2>
          <p class="section-subtitle advantages-subtitle">
            One Finger. Total Control.
          </p>
          <p class="advantages-text advantages-top-text">
            No complicated buttons.<br />
            No complex systems.<br />
            Just:<br />
          </p>
          <ul class="advantages-list">
            <li class="advantages-list-item">
              <p class="advantages-item-text">Touch</p>
            </li>
            <li class="advantages-list-item">
              <p class="advantages-item-text">Slide</p>
            </li>
            <li class="advantages-list-item">
              <p class="advantages-item-text">Strengthen</p>
            </li>
            <li class="advantages-list-item">
              <p class="advantages-item-text">Win</p>
            </li>
          </ul>
          <p class="advantages-text advantages-bottom-text">
            At least there's no stupid tutorial to sit through (I always skip
            those things anyway) This one just throws you in and you figure it
            out as you go, which is so much better.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/advantages/advantages-img-desk.png"
            media="(min-width: 1440px)"
            width="370"
            height="518" />
          <source
            srcset="./img/advantages/advantages-img-mob.png"
            width="343"
            height="481" />
          <img
            class="advantages-img"
            src="./img/advantages/advantages-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="481"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
