<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <div class="features-text-wrapper">
          <h2 class="section-title features-title">
            COLLECT<br />
            THE PIECES
          </h2>
          <p class="section-subtitle features-subtitle">
            Every Level Is a Puzzle
          </p>
          <p class="features-text features-top-text">As you advance:</p>
          <ul class="features-list">
            <li class="features-list-item">
              <p class="features-item-text">Collect pieces of the painting</p>
            </li>
            <li class="features-list-item">
              <p class="features-item-text">Unlock full compositions</p>
            </li>
            <li class="features-list-item">
              <p class="features-item-text">Clear the board</p>
            </li>
            <li class="features-list-item">
              <p class="features-item-text">Move to the next challenge</p>
            </li>
          </ul>
          <p class="features-text features-bottom-text">
            When you finally beat a tough level it feels so good, then before
            you know it you've been playing for hours and it's way too late
          </p>
        </div>
        <picture>
          <source
            srcset="./img/features/features-img-desk.png"
            media="(min-width: 1440px)"
            width="370"
            height="520" />
          <source
            srcset="./img/features/features-img-mob.png"
            width="343"
            height="482" />
          <img
            class="features-img"
            src="./img/features/features-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="482"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
