<footer class="footer" id="footer">
  <div class="footer-bg-wrapper">
    <div class="container footer-container">
      <div class="footer-content-wrapper">
        <div class="footer-title-wrapper">
          <a href="./" class="footer-logo-link">
            <picture>
              <source
                srcset="./img/footer/footer-title-desk.png"
                media="(min-width: 1440px)"
                width="296"
                height="99" />
              <source
                srcset="./img/footer/footer-title-mob.png"
                width="343"
                height="115" />
              <img
                class="footer-img"
                src="./img/footer/footer-title-mob.png"
                alt="Title"
                width="343"
                height="115"
                loading="lazy"
            /></picture>
          </a>
          <p class="footer-text">
            Version: 1.0.0<br />
            Updated: Nov 30, 2022<br />
            Requires Android: 5.1 and up
          </p>
        </div>
        <ul class="footer-nav-list">
          <li class="footer-nav-list-item">
            <a class="footer-nav-list-link" href="./index.html#home">Home</a>
          </li>
          <li class="footer-nav-list-item">
            <a class="footer-nav-list-link" href="./index.html#about">Game</a>
          </li>
          <li class="footer-nav-list-item">
            <a class="footer-nav-list-link" href="./index.html#gameplay"
              >How to Play</a
            >
          </li>
          <li class="footer-nav-list-item">
            <a class="footer-nav-list-link" href="./index.html#features"
              >Offline Mode</a
            >
          </li>
          <li class="footer-nav-list-item">
            <a class="footer-nav-list-link" href="./index.html#reviews"
              >Reviews</a
            >
          </li>
        </ul>
        <nav class="footer-nav">
          <ul class="footer-list">
            <li class="footer-list-item">
              <a class="footer-link" href="./privacy-policy.html"
                >Privacy Policy</a
              >
            </li>
            <li class="footer-list-item">
              <a class="footer-link" href="./terms-and-conditions.html"
                >Terms and Conditions</a
              >
            </li>
            <li class="footer-list-item">
              <a class="footer-link" href="./cookies-policy.html"
                >Cookies Policy</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <p class="footer-bottom-text">
        © 2026 — All rights reserved. clearledger.site
      </p>
    </div>
  </div>
</footer>
