<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <div class="gameplay-text-wrapper">
          <h2 class="section-title gameplay-title">
            STICKMAN<br />
            BATTLE FLOW
          </h2>
          <p class="gameplay-text">
            You can't just randomly swipe around - there's actually some
            strategy to when you build up your army<br />
            The game keeps you on your toes.<br />
            <br />
            <span class="gameplay-text-span"
              >You don’t just move — you build power.</span
            ><br />
            <br />
            <span class="gameplay-text-span"
              >You don’t just collect — you prepare for battle.</span
            ><br />
            <br />
            <span class="gameplay-text-span"
              >Mess up the timing and you're dead, game over</span
            ><br />
            <br />
            It's weirdly addictive and gets pretty competitive, plus everything
            happens super fast
          </p>
        </div>
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img-desk.png"
            media="(min-width: 1440px)"
            width="370"
            height="522" />
          <source
            srcset="./img/gameplay/gameplay-img-mob.png"
            width="343"
            height="484" />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="484"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
