<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <picture>
            <source
              srcset="./img/hero/hero-title-desk.png"
              media="(min-width: 1440px)"
              width="536"
              height="179" />
            <source
              srcset="./img/hero/hero-title-mob.png"
              width="343"
              height="115" />
            <img
              class="hero-title-img"
              src="./img/hero/hero-title-mob.png"
              alt="Title"
              width="343"
              height="115"
              loading="lazy"
          /></picture>
          <p class="hero-subtitle">Slide. Strengthen. Survive.</p>
          <picture>
            <source
              srcset="./img/hero/hero-img-desk.png"
              media="(min-width: 1440px)"
              width="418"
              height="587" />
            <source
              srcset="./img/hero/hero-img-mob.png"
              width="184"
              height="258" />
            <img
              class="hero-img"
              src="./img/hero/hero-img-mob.png"
              alt="Screenshot of the game"
              width="184"
              height="258"
          /></picture>
          <p class="hero-text">
            So Jake wouldn't shut up about this game - Leaving Black or whatever
            it's called. I was like, stick figures? Really? But whatever. But
            whatever, downloaded it during lunch break and... damn, I can't put
            it down. Turns out it's actually pretty fun, who knew?
          </p>
          <a
            class="hero-btn"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=com.roflplay.game.leaving.black&hl=en&gl=us"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
          >
            <img
              class="hero-play-img"
              src="./img/hero/hero-play-img.png"
              alt="Google Play"
              width="180"
              height="57"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
