<section class="home-selection-section section" id="home-selection">
  <div class="home-selection-section-wrapper">
    <div class="container home-selection-container">
      <div class="section-title-wrapper home-selection-title-wrapper">
        <div class="section-title-circle"></div>
        <h2 class="section-title home-selection-title">Top selezione</h2>
      </div>
      <p class="section-subtitle home-selection-subtitle">
        Piattaforme consigliate per iniziare con il piede giusto.
      </p>
      <div class="home-selection-swiper-container">
        <ul class="swiper-wrapper home-selection-swiper-wrapper">
          <li class="swiper-slide home-selection-list-item">
            <picture>
              <source
                srcset="./img/home/home-selection-img1-mob.png"
                media="(min-width: 1440px)"
                width="414"
                height="192" />
              <source
                srcset="./img/home/home-selection-img1-mob.png"
                width="355"
                height="192" />
              <img
                class="home-selection-img"
                src="./img/home/home-selection-img1-mob.png"
                alt="Screenshot of the game"
                width="355"
                height="192"
                loading="lazy"
            /></picture>
            <div class="home-selection-item-text-wrapper">
              <h3 class="home-selection-item-title">Dark Genesis</h3>
              <p class="home-selection-item-text">
                Un MMORPG epico ambientato tra miti e divinità dimenticate.
                Costruisci la tua cittadella sospesa, evoca alleati semi-divini
                e combatti per riportare equilibrio nel mondo.<br />
                <br />
                <span class="home-selection-item-text-span"
                  >• Combattimenti dinamici</span
                ><br />
                <span class="home-selection-item-text-span"
                  >• Sistema di alleanze divine</span
                ><br />
                <span class="home-selection-item-text-span"
                  >• Ambientazione mitologica immersiva</span
                ><br />
                <span class="home-selection-item-text-span"
                  >• Progressione strategica</span
                >
              </p>
              <div class="home-selection-btn-wrapper">
                <a
                  href="https://play.ikariam.gameforge.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="home-selection-open-btn"
                  >Apri il sito</a
                >
                <a
                  href="./methodology"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="home-selection-evaluate-btn"
                  >Come valutiamo</a
                >
              </div>
            </div>
          </li>
          <li class="swiper-slide home-selection-list-item">
            <picture>
              <source
                srcset="./img/home/home-selection-img2-mob.png"
                media="(min-width: 1440px)"
                width="414"
                height="192" />
              <source
                srcset="./img/home/home-selection-img2-mob.png"
                width="355"
                height="192" />
              <img
                class="home-selection-img"
                src="./img/home/home-selection-img2-mob.png"
                alt="Screenshot of the game"
                width="355"
                height="192"
                loading="lazy"
            /></picture>
            <div class="home-selection-item-text-wrapper">
              <h3 class="home-selection-item-title">Tentlan</h3>
              <p class="home-selection-item-text">
                Nel cuore della giungla, costruisci una città Maya e trasformala
                in un potente impero. Studia le stelle, domina le stagioni e
                guida i tuoi guerrieri alla vittoria.<br />
                <br />
                <span class="home-selection-item-text-span"
                  >• Costruzione di città</span
                ><br />
                <span class="home-selection-item-text-span"
                  >• Cultura Maya autentica</span
                ><br />
                <span class="home-selection-item-text-span"
                  >• Battaglie con guerrieri Jaguar e Eagle</span
                ><br />
                <span class="home-selection-item-text-span"
                  >• Strategia e gestione risorse</span
                >
              </p>
              <div class="home-selection-btn-wrapper">
                <a
                  href="https://play.ikariam.gameforge.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="home-selection-open-btn"
                  >Apri il sito</a
                >
                <a
                  href="./methodology"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="home-selection-evaluate-btn"
                  >Come valutiamo</a
                >
              </div>
            </div>
          </li>
          <li class="swiper-slide home-selection-list-item">
            <picture>
              <source
                srcset="./img/home/home-selection-img3-mob.png"
                media="(min-width: 1440px)"
                width="414"
                height="192" />
              <source
                srcset="./img/home/home-selection-img3-mob.png"
                width="355"
                height="192" />
              <img
                class="home-selection-img"
                src="./img/home/home-selection-img3-mob.png"
                alt="Screenshot of the game"
                width="355"
                height="192"
                loading="lazy"
            /></picture>
            <div class="home-selection-item-text-wrapper">
              <h3 class="home-selection-item-title">Outspace</h3>
              <p class="home-selection-item-text">
                Un universo in tempo reale dove ogni decisione conta. Costruisci
                flotte, esplora galassie e partecipa a un’economia completamente
                guidata dai giocatori<br />
                <br />
                <span class="home-selection-item-text-span"
                  >• Battaglie RTS in tempo reale</span
                ><br />
                <span class="home-selection-item-text-span"
                  >• Economia player-driven</span
                ><br />
                <span class="home-selection-item-text-span"
                  >• Costruzione di megastrutture spaziali</span
                ><br />
                <span class="home-selection-item-text-span"
                  >• Esplorazione galattica</span
                >
              </p>
              <div class="home-selection-btn-wrapper">
                <a
                  href="https://play.ikariam.gameforge.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="home-selection-open-btn"
                  >Apri il sito</a
                >
                <a
                  href="./methodology"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="home-selection-evaluate-btn"
                  >Come valutiamo</a
                >
              </div>
            </div>
          </li>
          <li class="swiper-slide home-selection-list-item">
            <picture>
              <source
                srcset="./img/home/home-selection-img4-mob.png"
                media="(min-width: 1440px)"
                width="414"
                height="192" />
              <source
                srcset="./img/home/home-selection-img4-mob.png"
                width="355"
                height="192" />
              <img
                class="home-selection-img"
                src="./img/home/home-selection-img4-mob.png"
                alt="Screenshot of the game"
                width="355"
                height="192"
                loading="lazy"
            /></picture>
            <div class="home-selection-item-text-wrapper">
              <h3 class="home-selection-item-title">Friends & Dragons</h3>
              <p class="home-selection-item-text">
                Un RPG cooperativo che unisce puzzle e strategia. Colleziona
                oltre 200 eroi e affronta dungeon pieni di pericoli insieme ai
                tuoi amici.<br />
                <br />
                <span class="home-selection-item-text-span"
                  >• Gameplay cooperativo</span
                ><br />
                <span class="home-selection-item-text-span"
                  >• Oltre 200 eroi</span
                ><br />
                <span class="home-selection-item-text-span"
                  >• Dungeon e boss epici</span
                ><br />
                <span class="home-selection-item-text-span"
                  >• Strategia a turni</span
                >
              </p>
              <div class="home-selection-btn-wrapper">
                <a
                  href="https://play.ikariam.gameforge.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="home-selection-open-btn"
                  >Apri il sito</a
                >
                <a
                  href="./methodology"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="home-selection-evaluate-btn"
                  >Come valutiamo</a
                >
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
