<section class="section home-hero-section" id="home">
  <div class="home-hero-bg-wrapper">
    <div class="container home-hero-container">
      <div class="home-hero-content-wrapper">
        <div class="home-hero-text-wrapper">
          <h1 class="home-hero-main-title">
            Le migliori piattaforme di gaming online in Italia
          </h1>
          <p class="home-hero-text">
            Una selezione curata di esperienze browser che uniscono strategia,
            avventura e competizione.<br />
            Esplora, scegli e gioca direttamente senza download.
          </p>
          <div class="home-hero-btn-wrapper">
            <a href="./reviews.html" class="home-hero-reviews-btn"
              >Esplora le recensioni</a
            >
            <a href="./categories.html" class="home-hero-categories-btn"
              >Sfoglia le categorie</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
