<section class="home-methodology-section section" id="home-methodology">
  <div class="home-methodology-section-wrapper">
    <div class="container home-methodology-container">
      <div class="section-title-wrapper home-methodology-title-wrapper">
        <div class="section-title-circle"></div>
        <h2 class="section-title home-methodology-title">METHODOLOGY</h2>
      </div>
      <div class="home-methodology-subtitle-wrapper">
        <p class="section-subtitle home-methodology-subtitle">
          La nostra metodologia in 4 passaggi essenziali.
        </p>
        <a href="./methodology" class="home-methodology-btn"
          >Metodologia completa</a
        >
      </div>
      <div class="home-methodology-swiper-container">
        <ul class="swiper-wrapper home-methodology-swiper-wrapper">
          <li class="swiper-slide home-methodology-list-item">
            <p class="home-methodology-item-number">01</p>
            <h3 class="home-methodology-item-title">Analisi del gameplay</h3>
            <p class="home-methodology-item-text">
              Valutiamo profondità, varietà e coinvolgimento.
            </p>
          </li>
          <li class="swiper-slide home-methodology-list-item">
            <p class="home-methodology-item-number">02</p>
            <h3 class="home-methodology-item-title">Qualità visiva</h3>
            <p class="home-methodology-item-text">
              Grafica, animazioni e coerenza stilistica.
            </p>
          </li>
          <li class="swiper-slide home-methodology-list-item">
            <p class="home-methodology-item-number">03</p>
            <h3 class="home-methodology-item-title">Accessibilità</h3>
            <p class="home-methodology-item-text">
              Giocabilità da browser senza barriere.
            </p>
          </li>
          <li class="swiper-slide home-methodology-list-item">
            <p class="home-methodology-item-number">04</p>
            <h3 class="home-methodology-item-title">Esperienza utente</h3>
            <p class="home-methodology-item-text">
              Fluidità, interfaccia e feedback del giocatore.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
