<section class="home-platforms-section section" id="home-platforms">
  <div class="home-platforms-section-wrapper">
    <div class="container home-platforms-container">
      <div class="section-title-wrapper home-platforms-title-wrapper">
        <div class="section-title-circle"></div>
        <h2 class="section-title home-platforms-title">
          Perché queste piattaforme
        </h2>
      </div>
      <p class="section-subtitle home-platforms-subtitle">
        Cosa rende davvero utile una piattaforma?
      </p>
      <div class="home-platforms-swiper-container">
        <ul class="swiper-wrapper home-platforms-swiper-wrapper">
          <li class="swiper-slide home-platforms-list-item">
            <h3 class="home-platforms-item-title">UI</h3>
            <p class="home-platforms-item-text">
              Interfacce semplici e intuitive.
            </p>
          </li>
          <li class="swiper-slide home-platforms-list-item">
            <h3 class="home-platforms-item-title">WEB</h3>
            <p class="home-platforms-item-text">
              Accesso immediato senza installazioni.
            </p>
          </li>
          <li class="swiper-slide home-platforms-list-item">
            <h3 class="home-platforms-item-title">COM</h3>
            <p class="home-platforms-item-text">
              Community attiva e interazione tra giocatori.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
