<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about">Game</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gameplay"
          >How to Play</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#features"
          >Offline Mode</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#reviews">Reviews</a>
      </li>
    </ul>
  </nav>
</div>
