<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./categories.html">Categorie</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./reviews.html">Recensioni</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./methodology.html">Metodologia</a>
      </li>
    </ul>
    <div class="context-other-menu-wrapper">
      <button class="context-other-btn" type="button">
        Altro<span class="context-btn-span">+</span>
      </button>
      <ul class="context-other-list">
        <li class="context-other-list-item">
          <a class="context-other-list-link" href="./about.html">Chi siamo</a>
        </li>
        <li class="context-other-list-item">
          <a class="context-other-list-link" href="./FAQ.html">FAQ</a>
        </li>
        <li class="context-other-list-item">
          <a class="context-other-list-link" href="./contacts.html">Contatti</a>
        </li>
      </ul>
    </div>
    <div class="context-btn-wrapper">
      <button class="context-style-btn" type="button">Cambia stile</button>
      <button class="context-sign-in-btn" type="button">Accedi</button>
      <button class="context-register-btn" type="button">Registrati</button>
    </div>
  </nav>
</div>
