<section class="reviews-section section" id="reviews">
  <div class="reviews-section-wrapper">
    <div class="container reviews-container">
      <h2 class="section-title reviews-title">
        PLAYER<br />
        FEEDBACK
      </h2>
      <div class="reviews-swiper-container">
        <ul class="swiper-wrapper reviews-swiper-wrapper">
          <li class="swiper-slide reviews-list-item">
            <p class="reviews-item-text">
              “Thought I'd play for like 2 minutes and boom - 20 minutes later
              I'm running late for my meeting lol. The controls are dead simple
              though, and there's something weirdly satisfying about watching
              tiny stick figures duke it out, can't really explain it It’s
              surprisingly strategic for a hyper casual game.”
            </p>
            <p class="reviews-item-name">Jordan Miles</p>
          </li>
          <li class="swiper-slide reviews-list-item">
            <p class="reviews-item-text">
              “I'm addicted to this thing. Great for the train since I don't
              need internet. Finally beating level 23 after like 50 tries? Pure
              satisfaction. It’s simple but really well designed.”
            </p>
            <p class="reviews-item-name">Maya Bennett</p>
          </li>
          <li class="swiper-slide reviews-list-item">
            <p class="reviews-item-text">
              “It’s easy to understand but hard to master. Strengthening the
              army adds depth beyond just sliding. I enjoy the fast restarts and
              competitive feel. Definitely addictive.”
            </p>
            <p class="reviews-item-name">Daniel Park</p>
          </li>
          <li class="swiper-slide reviews-list-item">
            <p class="reviews-item-text">
              “The painting collection part is actually pretty cool - haven't
              seen that in other games like this. Levels are quick but
              challenging enough to keep you focused. Perfect time-killer during
              work breaks.”
            </p>
            <p class="reviews-item-name">Chloe Martinez</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
